@import 'mixins';

/* ----- GENERAL STYLING -------- */

.hide {
  display: none;
}

body {
  font-family: @body-font;
}

h2, h3 {
  font-family: @heading-font;
}

.btn-primary {
  background-color: @orange;
  border-color: @orange;
}

.btn-primary:hover {
  background-color: @red;
  border-color: @red;
}

/* ----- HEADER STYLING -------- */

header {
  font-family: @heading-font;
  font-size: 1.25rem;
  color: @black;
  padding: 20px;
  .navbar-nav {
    margin-left: 20px;
  }
  img {
    width: 50vw;
    max-width: 200px;
  }
  .navbar-toggler, .navbar-toggler-icon {
    background-color: @orange;
  }
}

/* ----- FOOTER STYLING -------- */

footer {
  background-color: @red;
  text-align: center;
  padding: 20px 0 20px 0;
  nav ul {
    list-style-type: none;
    padding: 0;
    li{
      display: inline-block;
      margin: 20px;
      a {
        color: @white;
      }
      a:hover {
        text-decoration: none;
        color: @orange;
        }
      }
    }
  img {
    width: 45px;
    margin: 0 10px;
  }
  img:hover, img:active, img:focus {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        transition: .2s;
  }
}

/* ----- index.html STYLING -------- */

.hero {
  background: url("../images/hero.jpg") center no-repeat;
  height: 50vh;
  position: relative;
  .container {
    width: 100vw;
    background-color: fade(@white, 80%);
    padding: 10px;
    position: absolute;
    bottom: 5%;
    h1 {
      color: @red;
      margin-left: 5%;
    }
  }
}

.home-section {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  a {
    color: @black;
    text-decoration: none;
  }
  .home-article {
    margin: 5% auto;
    width: 80%;
    max-width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    h3 {
      background-color: fade(@white, 80%);
      width: 100%;
      padding: 10px;
    }
    h3:hover {
      background-color: fade(@orange, 80%);
      transition: .2s;
    }
    a:hover {
      color: @white;
      transition: .2s;
    }
  }
  .home-menu {
    background: url("../images/home-menu.jpg") center no-repeat;
  }
  .home-about {
    background: url("../images/home-about.jpg") center no-repeat;
  }
}

.home-gallery {
  margin: 5% auto;
  text-align: center;
  h2 {
    margin-bottom: 30px;
  }
  a {
    text-decoration: none;
    color: @black;
    padding: 5px 10px 5px;
    border-radius: 4px;
  }
  a:hover {
    background-color: @orange;
    color: @white;
    transition: .2s;
  }
  .home-gallery-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    img {
      margin: 10px;
    }
  }
}

.contact-button {
  text-align: center;
  margin: 5%;
  a {
    color: @white;
    text-decoration: none;
  }
}

/* ----- gallery.html STYLING -------- */

.row {
  img {
    padding: 5%;
  }
}

#gallerytext {
  text-align: center;
  padding: 4%;
  color: #FF853E;
}

/*-----about style-----------*/

#abtimg{
 background: url("../images/hero.jpg") center no-repeat;

}

#about{
  h2{
    color: @red;
    font-size: 3.4em;
    padding-bottom: 1%;
  }
  padding: 2% 20% 4% 20%;
}


#location{
  text-align: center;
  padding-bottom: 3%;
  h2{
    text-align: center;
    padding-bottom: 2%;
  }
  .mapouter{
    margin: 0 auto;
    height:80%;
    max-width:60%;
    }
  .gmap_canvas{
    margin: 0 auto;
    border: @bordered;
    overflow:hidden;
    text-align:center;
    background:none;
    height:80%;
    max-width: 70%;
  }
}




//////media queries////////////////



@media(max-width:700px){
  #location{
    text-align: center;
    padding-bottom: 3%;
    h2{
      text-align: center;
      padding-bottom: 2%;
    }
    .mapouter{
      margin: 0 auto;
      height:80%;
      max-width:80%;
      }
    .gmap_canvas{
      margin: 0 auto;
      border: @bordered;
      overflow:hidden;
      text-align:center;
      background:none;
      height:80%;
      max-width: 90%;
    }
}
}
